.SearchKutu
{

    text-align: center;
    width: auto;
    height: auto;

    margin-left: 25px;
    margin-right: 25px;

    background-color: #c8c8c8;

}



.footer{

    margin-top:10px
}




    



    



